<div class="d-inline-block">
    <span class="badge badge-secondary mr-1">
      <%= image_tag psychology.psychology_image_url, class: "psychology-image" %>
      <%= psychology.title %>
    </span>
</div>
