nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  max-width: 810px;
  margin: 0 auto;
  padding: 0 0 0 12px;
  .logo {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    //background-image: image-url("img_logo.png");
    background-size: contain;
  }
  .menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    ul {
      list-style: none;
      li {
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    &__action {
      a {
        margin-right: 20px;
      }
      a:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
    &__post{
      float: left;
      height: 20px;
    }
    &__status {
      display: flex;
      align-items: center;
      cursor: pointer;
      .user {
        display: flex;
        align-items: center;
        .userIcon {
          width: 36px;
          height: 36px;
          margin-right: 12px;
          img {
            width: 100%;
            height: auto;
          }
        }
        .userName {
          color: #333333;
          font-size: 14px;
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    .userAchievement {
      position: relative;
      display: inline-block;
      height: 30px;
      width: 30px;
      margin-left: 10px;
      i {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        color: #ffd633;
        font-size: 30px;
      }
      p {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 30px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        vertical-align: middle;
        margin-bottom: 0;
      }
    }
    &__shared{
      font-size: 16px;
      float: left;
      margin-left: 10px;
    }
    &__passport{
      font-size: 16px;
      float: left;
      margin-left: 10px;
    }
    &__psychology{
      font-size: 16px;
      float: left;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 750px){
  nav {
    height: 50px;
    .menu__user {
      .userIcon {
        width: 30px;
        height: 30px;
      }
    }
  }
  .navbar{
    &__brand{
      height: 60px;
      background-size: 60px;
    }
  }
}
