nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  max-width: 810px;
  margin: 0 auto;
  padding: 0 0 0 12px;
  .logo {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-image: image-url("img_logo.png");
    background-size: contain;
  }
  .menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    ul {
      list-style: none;
      li {
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    &__action {
      a {
        margin-right: 20px;
      }
      a:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
    &__post{
      float: left;
      height: 20px;
    }
    &__user {
      display: flex;
      align-items: center;
      .userIcon {
        width: 36px;
        height: 36px;
        margin-right: 12px;
        img {
          width: 100%;
        }
      }
      .userName {
        color: #333333;
        font-size: 14px;
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &__shared{
      font-size: 16px;
      float: left;
      margin-left: 10px;
    }
    &__passport{
      font-size: 16px;
      float: left;
      margin-left: 10px;
    }
    &__psychology{
      font-size: 16px;
      float: left;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 670px){
  .navbar{
    &__brand{
      height: 60px;
      background-size: 60px;
    }
  }
}
