
<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <% if @user.profile_image.file.nil? %>
        <%= image_tag 'icon_default_user.png', class: "post-profile-icon" %>
      <% else %>
        <%= image_tag @user.profile_image.url, class: "round-img" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1><%= @user.name %></h1>
      </div>
    </div>
  </div>
</div>
