<div class="container">
  <div class="home">
    <p>Home画面です。</p>
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "home-btn btn btn-outline-dangger" %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "サインイン", new_user_registration_path, class: "home-btn btn btn-outline-dark" %></li>
        <li><%= link_to "ログイン", new_user_session_path, class: "home-btn btn btn-outline-primary" %></li>
      </ul>
    <% end %>
  </div>
</div>
