<div class="col-md-8 col-md-2 mx-auto">
  <div class="jscroll">
    <%= render partial: 'post', locals:{posts: @posts}, class: "jscroll" %>
  </div>
</div>


<%= link_to "前のページ", prev_page_path(@posts), class: "prev" %>
<%= link_to "次のページ", next_page_path(@posts), class: "next" %>
<%= javascript_include_tag 'index.js' %>
