@import "variables";
body{
  background-color: #F7F7F7;
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333333;
}
footer{
  p {
    margin-top: 40px;
    text-align: center;
  }
}
a:hover {
  opacity: 0.6;
  transition: all .4s;
}
.footer-nav{
  width: 100%;
  position: fixed;
  bottom: 0;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      float: left;
      width: 25%;
      height: 50px;
      text-align: center;
      text-decoration: none;
      border: inset 3px #BBBBBB;
      .link{
          display: block;
          height: 100%;
          margin: 0;
          padding: 5px;
          color: #EEEEEE;
          font-size: 20px;
          background-color: #333333;
        }
      :hover{
          background-color: #EEEEEE;
          color: #333333;
      }
    }
  }
}

.userAchievement {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  i {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: #ffd633;
    font-size: 30px;
  }
  p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-bottom: 0;
  }
}

// フラッシュメッセージ
.alert {
  position: relative;
  width: 810px;
  margin: 0 auto;
  margin-bottom: 20px;
  button.close {
    position: absolute;
    right: 20px;
    top: calc(50% - 3px);
    transform: translate(0, -50%);
  }
}

.modal .alert {
  width: 100%;
  ul {
    padding-left: 15px;
    margin-bottom: 0;
  }
}

// スクロールトップ
i.js-pagetop {
  position: fixed;
  bottom: 5%;
  right: 8%;
  font-size: 20px;
  cursor: pointer;
  @media screen and(min-width:850px) {
    right: calc(50% - 440px); 
  }
}

// モーダル（共通）
.modal-header,
.modal-footer {
  border: none;
}
.modal-header {
  margin-bottom: 5px;
}
.modal-header .close {
  display: block;
  width: 22px;
  height: 22px;
  position: relative;
  padding: 0;
  span::before, span::after{
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #000;
      transform: rotate(45deg);
      transform-origin:0% 50%;
      position: absolute;
      top: 14%;
      left: 15%;
  }
  span::after{
      transform: rotate(-45deg);
      transform-origin:100% 50%;
      left: auto;
      right: 14%;
  }
}
.modal-title {
  font-size: 18px;
}
.modal-content {
  padding: 30px;
}
.modal-body {
  padding: 0 20px;
  label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  input, select {
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  select {
    background: none;
    width: 100%;
    height: 32px;
    color: #495057;
    appearance: none;
    border: none;
  }
  .round {
    position: relative;
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 20px;
    &--genre {
      width: 160px;
      select {
        padding: 0 25px;
      }
    }
    input {
      display: flex;
      align-items: center;
      border: none;
      height: 32px;
      margin-bottom: 0;
      padding: 0 10px 0 25px;
      border-radius: 20px;
    }
    &--period {
      width: 180px;
    }
  }
  .arrow::after {
    content: '';
    width: 10px;
    height: 10px;
    border: 0px;
    border-top: solid 2px #333333;
    border-right: solid 2px #333333;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: calc(50% - 3px);
    right: 20px;
    margin-top: -4px;
    pointer-events: none;
  }
}
.modal-footer {
  justify-content: center;
  padding: 0;
}

// モーダル（習慣修正）
.passEdit {
  @media screen and (min-width: 751px) {
    .modal-dialog {
      width: 500px;
    }
  }
  .modal-header {
    .passportIcon {
      width: 30px;
      margin-right: 10px;
    }
  }
  .modal-body label {
    color: #F9703E;;
  }
  .period {
    display: flex;
    flex-direction: column;
    & > div {
      display: flex;
      align-items: center;
      span {
        margin-right: 10px;
        font-size: 14px;
      }
      & + div {
        margin-top: 8px;
      }
    }
  }
  .new-image { //習慣画像 一旦非表示。
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    input button {
      background-color: none;
    }
  }
}

// モーダル（カレンダー記録）
.record {
  z-index: 20;
  font-size: 16px;
  .modal-content {
    padding: 0;
  }
  .close {
    position: relative;
    width: 20px;
    height: 20px;
  }
  span::before, span::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    transform: rotate(45deg);
    transform-origin:0% 50%;
    position: absolute;
    top: 14%;
    left: 15%;
  }
  span::after {
      transform: rotate(-45deg);
      transform-origin:100% 50%;
      left: auto;
      right: 14%;
  }
}

// モーダル（習慣化方法の表示）
.psychMethods {
  .modal-header {
    img {
      width: 30px;
      margin-right: 10px;
    }
  }
  .modal-body {
    @media screen and (max-width: 750px) {
      padding: 0;
    }
    img {
      width: 100%;
    }
  }
}

// モーダル（アカウント修正）
.userEdit {
  i {
    font-size: 2em;
    margin-right: 10px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 810px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 810px !important;
  }
}
@media screen and (max-width: 810px) {
  body {
    background-color: #fff;
  }
  .container {
    max-width: 100% !important;
    border: none !important;
  }
  .alert {
    width: 100%;
    border-radius: 0;
    border-right: none;
    border-left: none;
    margin-bottom: 5px;
    font-size: 14px;
  }
}