// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.home {
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  .kv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    h1 {
      margin-bottom: 40px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      line-height: 1.5;
      letter-spacing: 4px;
      opacity: 0;
      transition: opacity 1s;
      span {
        color: $primary-color;
      }
    }
    h1.show {
      opacity: 1;
    }
    &__img {
      opacity: 0;
      transition: opacity 1s;
    }
    &__img.show {
      opacity: 1;
    }
    img {
      position: absolute;
      max-width: 100%;
    }
    .btn {
      opacity: 0;
      transition: opacity 1s;
    }
    .btn.show {
      opacity: 1;
    }
  }
  .intro {
    position: relative;
    background-color: $primary-color;
    color: #fff;
    overflow: hidden;
    &__bg {
      position: absolute;
      right: calc(10% + 10px);
      bottom: 0;
    }
    div {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 768px;
      margin: 0 auto;
      padding: 55px 0;
      h2 {
        width: 255px;
        margin-right: 30px;
        letter-spacing: 4px;
        img {
          width: 208px;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 50%;
      width: 0px;
      height: 0px;
      margin: auto;
      border-style: solid;
      border-color: $primary-color transparent transparent transparent;
      border-width: 20px 20px 0 20px;
    }
  }
  .func {
    margin-top: 70px;
    .funcContent {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding-bottom: 65px;
    }
    h2 {
      margin-bottom: 60px;
      letter-spacing: 2px;
      text-align: center;
      span {
        color: $primary-color;
        font-size: 34px;
        font-weight: normal;
      }
    }
    &__logo {
      width: 85px;
      margin-right: 10px;
      margin-bottom: 10px;
      transform: rotate(-7deg);
    }
    .func__row + .func__row {
      margin-top: 65px;
    }
    &__block {
      width: 100%;
      display: flex;
    }
    .funcDesc {
      width: 395px;
      dt {
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-bottom: 15px;
        font-weight: bold;
        span {
          margin-right: 8px;
          color: $primary-color;
          font-size: 34px;
          font-weight: normal;
        }
      }
    }
    .funcImg {
      width: 100%;
      max-width: 410px;
      &--1 {
        margin-top: -20px;
      }
      &--2 {
        margin-top: -115px;
      }
      &--3 {
        margin-top: -70px;
      }
      &--4 {
        margin-top: -50px;
      }
    }
    &__yell {
      position: absolute;
      left: calc(50% - 60px);
      bottom: -45px;
      transform: translateX(-100%);
      width: 355px;
      height: 140px;
      background-image: image-url("lp/img_yell_01.png");
      background-size: 20%;
      background-position: 0 0;
      background-repeat: no-repeat;
      padding: 42px 0 0 74px;
      font-size: 14px;
    }
  }
  .warranty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 10px 0;
    background-image: image-url("lp/bg_warranty.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
      position: relative;
      margin-bottom: 30px;
      padding-left: 60px;
      letter-spacing: 4px;
      line-height: 1.4;
      img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -65%);
        max-width: 45px;
      }
      span {
        color: $accent-color;
      }
    }
    > p {
      margin-bottom: 0;
      font-size: 14px;
    }
    .slick {
      width: 675px;
    }
    .slider {
      display: block;
      margin: 15px 30px 30px 30px;
      padding: 25px;
      background-color: #fff;
      border-top: 5px solid $accent-color;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 5px 10px 25px -5px rgba(0,0,0,0.1);
      .heading {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #efefef;
        color: #7B93DB;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 2px;
      }
      p {
        margin-bottom: 10px;
        font-size: 14px;
        text-align: left;
        line-height: 1.75;
      }
      span {
        border-bottom: 1px solid #7B93DB;
        font-weight: bold;
      }
      .quote {
        position: relative;
        background-color: #f7f7f7;
        padding: 20px 10px 3px 10px;
        &::before {
          position: absolute;
          top: -13px;
          font-family: 'FontAwesome';
          content: '“';
          font-size: 6em;
          color: #333333;
          line-height: 1;
          opacity: .3;
        }
      }
    }
    .fa-arrow-circle-left:before {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 88px;
      font-size: 24px;
      color: $accent-color;
    }
    .fa-arrow-circle-right:before {
      z-index: 2;
      position: absolute;
      top: 50%;
      right: 88px;
      font-size: 24px;
      color: $accent-color;
    }
    .slick-dots {
      bottom: 0;
    }
    .slick-dots li button:before {
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background-color: #333333;
    }
  }
  .closing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 40px;
    h2 {
      position: relative;
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 30px;
      text-align: center;
      line-height: 1.4;
      letter-spacing: 2px;
      span {
        color: $primary-color;
      }
    }
    &__wing {
      position: absolute;
      top: 50%;
      max-width: 60px;
      transform: translate(0,-50%);
      &--left {
        left: 0;
      }
      &--right {
        right: 0;
      }
    }
    &__copy {
      text-align: center;
      margin-bottom: 10px;
    }
    .closing__copy + .closing__copy {
      margin-top: 20px;
    }
    &__turtle {
      position: absolute;
      left: calc(50% - 280px);
      bottom: 57px;
      width: 126px;
    }
    &__yell {
      position: absolute;
      left: calc(50% + 150px);
      bottom: 20px;
      width: 160px;
      height: 160px;
      background-image: image-url("lp/img_yell_02.png");
      background-size: 32%;
      background-position: right 0 bottom 0;
      background-repeat: no-repeat;
      padding-top: 50px;
      font-size: 14px;
    }
  }

  @media screen and (min-width: 751px) {
    .spOnly {
      display: none;
    }
    .kv {
      height: 680px;
      // 右側
      .book01 {
        top: calc(50% - 310px);
        left: calc(50% + 140px);
      }
      .book02 {
        top: calc(50% - 175px);
        left: calc(50% + 320px);
      }
      .runMan {
        top: calc(50% + 20px);
        left: calc(50% + 380px);
      }
      .mindful {
        top: calc(50% + 120px);
        left: calc(50% + 60px);
      }
      // 左側
      .runWoman {
        top: calc(50% - 340px);
        left: calc(50% - 250px);
      }
      .yoga {
        top: calc(50% - 180px);
        left: calc(50% - 530px);
      }
      .reading {
        top: calc(50% + 70px);
        left: calc(50% - 500px);
      }
      .learn {
        top: calc(50% + 140px);
        left: calc(50% - 200px);
      }
    }
    .func {
      &__block {
        &:nth-of-type(odd) {
          .funcImg {
            margin-right: 20px;
          }
        }
        &:nth-of-type(even) {
          .funcDesc {
            margin-right: 20px;
            padding-left: 75px;
          }
        }
        &:nth-of-type(2) {
          margin-top: 40px;
        }
        &:nth-of-type(3) {
          margin-top: 80px;
        }
        &:nth-of-type(4) {
          margin-top: 35px;
          margin-bottom: -35px;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    .pcOnly {
      display: none;
    }
    .kv {
      flex-direction: column;
      justify-content: flex-start;
      height: 450px;
      h1 {
        margin-bottom: 15px;
        padding-left: 15px;
        font-weight: normal;
        font-size: 18px;
        text-align: left;
      }
      &__img {
        position: relative;
        width: 100%;
        height: 18vh;
        white-space:nowrap;
        img {
          top: 50%;
          margin: 0 20px;
          transform: translate(0, -50%);
        }
      }
      // 上列
      .book01 {
        width: 90px;
        left: 100%;
        animation: ToLeft 8s linear 0s infinite;
      }
      .book02 {
        width: 97px;
        left: 100%;
        animation: ToLeft 8s linear 2s infinite;
      }
      .runMan {
        width: 71px;
        left: 100%;
        animation: ToLeft 8s linear 4s infinite;
      }
      .mindful {
        width: 150px;
        left: 100%;
        animation: ToLeft 8s linear 6s infinite;
      }
      // 下列
      .runWoman {
        width: 82px;
        right: -100%;
        animation: ToRight 8s linear 0s infinite;
      }
      .yoga {
        width: 150px;
        right: -100%;
        animation: ToRight 8s linear 2s infinite;
      }
      .reading {
        width: 135px;
        right: -100%;
        animation: ToRight 8s linear 4s infinite;
      }
      .learn {
        width: 98px;
        right: -100%;
        animation: ToRight 8s linear 6s infinite;
      }
    }

    .intro {
      &__bg {
        top: 10px;
        right: -10px;
        width: 174px;
      }
      div {
        flex-direction: column;
        align-items: end;
        width: 100%;
        padding: 25px;
        overflow: hidden;
        h2 img {
          width: 176px;
          margin-left: 8px;
        }
        p {
          z-index: 1;
        }
      }
      &::after {
        border-width: 20px 15px 0 15px;
      }
    }

    .func {
      margin-top: 50px;
      padding: 0 30px;
      h2 {
        margin-bottom: 30px;
      }
      .funcContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 0;
      }
      &__row {
        display: flex;
      }
      .func__row + .func__row {
        margin-top: 0;
      }
      &__block {
        display: inline;
        flex-direction: column;
        width: 50%;
      }
      .funcImgSp {
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .funcDesc {
        width: 100%;
        dt {
          justify-content: center;
          margin-left: 0;
          color: $primary-color;
          span {
            display: none;
          }
        }
        dd {
          display: none;
        }
      }
      &__yell {
        position: static;
        transform: none;
        margin-top: 25px;
      }
    }

    .warranty {
      .slick {
        width: 100%;
      }
      .slick-list.draggable {
        padding: 0 !important;
      }
      .fa-arrow-circle-left:before {
        left: 20px;
        font-size: 30px;
      }
      .fa-arrow-circle-right:before {
        right: 20px;
        font-size: 30px;
      }
    }

    .closing {
      padding-bottom: 0;
      h2 {
        padding-left: 50px;
        padding-right: 50px;
      }
      &__wing {
        max-width: 45px;
      }
      &__turtle {
        left: calc(50% - 160px);
        bottom: 15px;
      }
      &__yell {
        position: static;
        margin-left: auto;
        margin-right: 24px;
        margin-bottom: -25px;
      }
    }

    .links {
      ul {
        flex-direction: column;
        padding-left: 0;
        li {
          margin-bottom: 25px;
          a {
            width: 285px;
            margin-right: 0;
            p {
              width: 100%;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 44px;
    margin: 0 auto 20px;
    background-color: #F9703E;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
  }
  .links {
    width: 100%;
    padding: 40px 0 10px;
    background-color: #f7f7f7;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
    }
    li {
      list-style: none;
      margin-bottom: 25px;
    }
    a {
      display: flex;
      align-items: center;
      width: 255px;
      margin-right: 20px;
      list-style: none;
      font-size: 14px;
      color: #333333;
      &:hover {
        text-decoration: none;
      }
      img {
        width: 100%;
        max-width: 40px;
        margin-right: 15px;
      }
      p {
        display: inline-block;
        width: 200px;
        margin-bottom: 0;
        text-align: left;
      }
    }
  }
}

// アニメーション 右から左へ
@keyframes ToLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
// アニメーション 右から左へ
@keyframes ToRight {
  0% {
    right: 100%;
  }
  100% {
    right: -100%;
  }
}