@import "variables";
//passport_show
.newPassport {
  span {
    color: $primary-color;
  }
}
.passport_select{
  display: inline-block;
  margin-left: 2.5%;
  .passport__achievement{
    .btn-achievement-select{
      height: 36px;
      width: 105px;
      background-color: #ffd633;
      border: solid 2px #ffd633;
      border-radius: 5px;
      overflow: hidden;
      white-space: nowrap;
      color: #696969;
      i{
        color: white;
      }
      &:hover{
        opacity: 0.7;
        transition: opacity .3s;
        i {
          color: white;
        }
      }
    }
    .btn-achievement{
      height: 36px;
      width: 105px;
      background-color: white;
      border: solid 2px #ffd633;
      border-radius: 5px;
      overflow: hidden;
      white-space: nowrap;
      color: #696969;
      i{
        color: #ffd633;
      }
      &:hover{
        opacity: 0.8;
        background-color: #ffd633;
        transition: opacity .3s;
        transition: background-color .3s;
        i {
          color: white;
        }
      }
    }
  }
}

.passport {
  .container {
    width: 810px;
    height: auto;
    padding: 0;
    background-color: #fff;
    border-style: solid;
    border: solid 1px rgb(220, 220, 220);
    border-radius: 5px;
  }
  &__header {
    position: relative;
    overflow: hidden;
    height: 120px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .btn-back {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: #fff;
      font-size: 26px;
      opacity: .5;
    }
  }
  &__contents {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 50px;
    .contents + .contents {
      margin-left: 50px;
    }
  }
  .habit {
    width: 390px;
    margin-bottom: 40px;
    &__user{
      &-icon{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    &__purpose {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: bold;
    }
    &__goal {
      margin-bottom: 16px;
      font-size: 16px;
    }
    &__details {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      font-size: 16px;
      .period {
        margin-right: 15px;
        margin-bottom: 0;
      }
      .genre {
        margin-bottom: 0;
        padding: 6px 15px;
        background-color: $border-color;
        border-radius: 18px;
        line-height: 1;
      }
    }
    &__rate{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .percentage {
        margin-right: 30px;
        margin-bottom: 0;
        font-size: 16px;
        span {
          margin-right: 3px;
          margin-left: 6px;
          color: #F9703E;
          font-size: 24px;
          animation: fadeIn 1s ease 0s 1 normal;
        }
      }
    }
    &__btn {
      display: flex;
      margin-bottom: 15px;
      align-items: center;
      & > div {
        display: flex;
        justify-content: center;
        width: 42%;
        margin-right: 10px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        background-color: #fff;
        & > button {
          width: 100%;
          padding: 5px;
          color: $primary-color;
          border: none;
          background: none;
        }
        &.achieveBtn {
          background-color: $primary-color;
          & > button {
            color: #fff;
          }
        }
      }
      .trash {
        width: 22px;
        img {
          width: 100%;
        }
      }
    }
  }
  .calendar {
    position: relative;
    text-align: center;
    &__label {
      width: 110px;
      margin: 0 auto;
      margin-bottom: 25px;
      padding: 6px 15px;
      border: 2px solid #E1E1E1;
      border-radius: 18px;
      background-color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
    }
    .passport-calendar {
      div {
        animation: fadeIn .2s ease-out 0s 1 normal;
      }
      form input {
        border: none;
        background: transparent;
      }
      .checkGray {
        width: 23px;
        height: 18px;
        background-image: image-url("icon_check_gray.png");
        transition: 0.2s;
        &:hover {
          background-image: image-url("icon_checked.png");
          transition: 0.2s;
        }
      }
      .calendar-color{
        background-image: image-url("icon_check_today.png");
        width: 27px;
        height: 22px;
      }
      .hide{
        display: none;
      }
    }
    .simple-calendar {
      padding: 0 15px;
      border: solid 1px gainsboro;
      border-radius: 18px;
      background-color: #fff;
    }
    .calendar-heading {
      margin: 20px auto 5px;
      border-radius: 18px;
    }
    .table {
      border-collapse: separate;
      border-spacing: 0;
      thead th {
        padding: 15px 0 5px 0;
        border: none;
        color: #b3b3b3;
        font-size: 14px;
        font-weight: normal;
      }
      td {
        position: relative;
        width: 50px;
        height: 50px;
        padding: 5px 5px;
        vertical-align: middle;
        border: none;
        font-size: 18px;
      }
      .future {
        opacity: .2;
      }
      p {
        width: 100%;
        margin: 0;
      }
    }
    .calendar-check {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 50%;
      cursor: pointer;
    }
    .calendar-check:hover {
      border: 1px solid gainsboro;
    }
    .fa-chevron-circle-down{
      display: none;
    }
    .calendar-check span {
      display: block;
      border-radius: 50%;
      line-height: 38px;
    }
    .calendar-check span.today {
      border: 1px solid $primary-color;
      line-height: 36px;
    }
    .calendar-check span.achieved {
      color: $primary-color;
      background-color: #fff4ee;
    }
    // .calendar-check span.failed {
    //   color: $accent-color;
    //   background-color: #edf2ff;
    // }
    .calendar-check span.skipped {
      background-color: #f3f3f3;
    }
    #calendar-form {
      width: 100%;
    }

    .modal-body form {
      display: flex;
      justify-content: center;
      input {
        border: 1px solid gainsboro;
        border-radius: 5px;
        margin-right: 15px;
        padding: 5px 15px;
        background-color: #fff;
        &:last-child {
          margin-right: 0;
        }
      }
      .achieve {
        border: 1px solid $primary-color;
        color: $primary-color;
        &:hover {
          background-color: #fff8f5;
        }
      }
      .fail {
        border: 1px solid $accent-color;
        color: $accent-color;
        &:hover {
          background-color: #f4f7ff;
        }
      }
      .skip {
        border: none;
        background-color: #e7e7e7;
        color: #333333;
      }
    }
  }
  .methods {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 260px;
    &__label {
      width: 110px;
      margin-bottom: 25px;
      padding: 6px 15px;
      border: 2px solid #E1E1E1;
      border-radius: 18px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
    }
    .d-inline-block {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;
      padding: 8px 12px;
      border: 1px solid #7B93DB;
      border-radius: 5px;
      background-color: #fff;
      font-size: 16px;
      cursor : pointer;
      &:hover {
        background-color: #f7faff;
      }
      .badge-secondary {
        color: #333333;
        font-size: 16px;
        font-weight: normal;
        background-color: transparent;
        .psychology-image{
          height: 30px;
          margin-right: 15px;
        }
      }
    }
    .psychology-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      border: 1px solid #E1E1E1;
      border-radius: 5px;
      background-color: #fff;
      font-size: 16px;
      text-align: center;
      span {
        color: #7B93DB;
        font-size: 26px;
        margin-right: 5px;
      }
    }
  }
  .passport__footer{
    text-align: center;
    margin-bottom: 30px;
    .btn-edit{
      display: inline-block;
      vertical-align: middle;
      width: 235px;
      height: 44px;
      margin-top: 30px;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      :hover{
        cursor: pointer;
      }
    }
  }
}

.modal {
  .btn-edit{
    display: inline-block;
    vertical-align: middle;
    width: 235px;
    height: 44px;
    margin-top: 5px;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    :hover{
      cursor: pointer;
    }
  }
}

.fb {
  dl {
    margin-bottom: 0;
  }
  .modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
  }

  // 見出しイメージ個別指定
  .welldone {
    img {
      width: 38px;
      margin: 0 10px 8px;
    }
    img:nth-of-type(2) {
      margin-left: 5px;
    }
  }
  .nomore3 {
    width: 140%;
    margin-left: -20px;
    img {
      width: 45px;
      margin-right: 5px;
      margin-bottom: 18px;
    }
  }
  .weekly {
    height: 60px;
    img {
      width: 50px;
      margin-right: 10px;
    }
  }
  .monthly {
    width: 105%;
    margin-bottom: 10px;
    margin-left: -20px;
    img {
      width: 66px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }

  .modal-body {
    padding: 0;
  }
  .leadTxt {
    margin-top: -22px;
    margin-bottom: 20px;
    font-size: 14px;
    &--center {
      text-align: center;
    }
    &--mt15 {
      margin-top: -15px;
    }
    &--mt40 {
      margin-top: -40px;
    }
  }
  .result {
    &--inline {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--column {
      display: flex;
      flex-direction: column;
      align-items: center; 
    }
    &--mt15 {
      margin-top: -15px;
    }
    &__heading {
      margin-bottom: 12px;
      padding: 5px 35px;
      border: 2px solid #E1E1E1;
      border-radius: 18px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      line-height: 1; 
    }
    dl {
      display: flex;
      align-items: center;
      dt {
        margin-right: 5px;
        padding: 8px 15px;
        background-color: $primary-color;
        border-radius: 18px;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
      }
      dd {
        margin-bottom: 0;
        font-size: 18px;
        span {
          display: inline-block;
          width: 35px;
          margin-right: 5px;
          color: $primary-color;
          font-weight: bold;
          text-align: center;
        }
      }
    }
    dl + dl {
      margin-top: 7px;
    }
    img {
      width: 60px;
      margin-left: 20px;
    }
  }
  .meigen {
    margin-top: 10px;
    img {
      display: block;
      width: 103px;
      margin: 0 auto;
      margin-bottom: 15px;;
    }
    p {
      margin-bottom: 0;
      font-size: 14px;
    }
    &__src {
      color: $accent-color;
      text-align: center;
    }
    p + p {
      margin-top: 6px;
    }
  }
  .yourHabit {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading {
      display: inline-block;  
      margin-bottom: 15px;
      padding: 8px 15px;
      background-color: $primary-color;
      border-radius: 18px;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      line-height: 1; 
    }
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      dl + dl {
        margin-top: 15px;
      }
      dt {
        margin-bottom: 5px;
        color: $font-gray;
        font-size: 14px;
        font-weight: normal;
      }
      dd {
        margin-bottom: 0;
        color: $font-color;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.4;
      }
      img {
        width: 76px;
      }
    }
  }
  .chart {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 20px;
    &--weekly {
      div {
        width: 100%;
        @media screen and (min-width: 751px) {
          width: 70%;
        }
      }
    }
    &--monthly {
      div {
        width: 50%;
        @media screen and (min-width: 751px) {
          width: 35%;
        }
      }
    }
  }
  .advise {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    &__txt {
      font-size: 14px;
    }
    &__img {
      margin-left: 10px;
      &--weekly {
        width: 45px;
      }
      &--monthly {
        width: 65px;
      }
    }
  }
  .adviseBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 40px;
    border-radius: 5px;
    background-color: $primary-color;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    &:hover {
      text-decoration: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.psychologi_new_ModalLong {
  .modal-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px 20px;
    input {
      display: none;
    }
    label {
      position: relative;
      display: flex;
      width: 210px;
      height: auto;
      margin-bottom: 10px;
      padding: 10px 20px 10px 30px;
      border: 1px solid #7B93DB;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: #f7faff;
      }
      &::before {
        content: '○';
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0,-50%);
        font-size: 20px;
      }
    }
    @media screen and (min-width: 751px) {
      label:nth-of-type(odd) {
        margin-right: 10px;
      }
    }
  }
  input:checked + label {
    background-color: #f7faff;
  }
  input:checked + label::before {
    content: '●';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
    font-size: 20px;
    color: #7B93DB;
  }
}

.turtorialBtn {
  position: fixed;
  bottom: 40px;
  left: calc(50% + 170px);
  padding: 10px 20px;
  border: 2px solid $accent-color;
  border-radius: 30px;
  box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #333333;
  cursor: pointer;
  animation: updown 3s infinite;
  &:hover {
    opacity: 0.6;
    transition: all .4s;
  }
}

// 811px以上の場合に限定で適用
@media screen and (min-width:811px) {
  .passport {
    .calendar {
      #week {
        display: none;
      }
      .table {
        .modal {
          position: absolute;
          top: 45px;
          left: -75px;
          transform: translate(0,-50%);
          overflow: visible;
        }
        .modal-dialog-centered::before {
          height: auto;
        }
        .modal-content {
          flex-direction: row;
          width: auto;
          box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.1);
          border: 1px solid $bg-color;
          .close {
            margin: auto 15px auto 0;
          }
        }
        .modal-body {
          padding: 15px 20px;
        }
      }
    }
  }
}

// 810px以下の場合に限定で適用(SP)
@media screen and (max-width: 810px) {
  .passport {
    .container {
      width: calc(100% - 40px);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    }
    &__header {
      position: relative;
      overflow: hidden;
      height: 120px;
      margin-bottom: 25px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
      }
    }
    .passport__contents {
      justify-content: center;
      .contents {
        width: 100%;
        background-color: $bg-color;
        &:first-child {
          background-color: #fff;
        }
      }
    }
    .habit {
      width: 100%;
      padding: 0 8%;
      font-size: 16px;
      &__purpose {
        margin-bottom: 10px;
      }
      &__goal {
        margin-bottom: 7px;
      }
      &__details {
        margin-bottom: 5px;
        font-size: 16px;
      }
      &__rate {
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 10px;
        .percentage {
          width: calc(50% - 5px);
          margin-right: 0;
          margin-bottom: 5px;
          font-size: 14px;
          span {
            font-size: 26px;
            font-weight: normal;
          }
          & + .percentage {
            margin-left: 10px;
          }
        }
      }
      &__btn > div {
        margin-right: 15px;
      }
    }
    .methods {
      position: relative;
      width: 85%;
      margin: 0 auto;
      padding: 40px 0px;
      &__label {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #fff;
      }
      .d-inline-block {
        background-color: #fff;
      }
    }
    .calendar {
      z-index: 2;
      width: 100%;
      margin-top: 20px;
      position: fixed;
      bottom: 0;
      left: 0;
      background: #fff;
      &__label {
        display: none;
      }
      .table {
        border: none;
      }
      .passport-calendar {
        display: none;
        margin-top: 0;
      }
      .passport-calendar.active {
        display: block;
      }
      .simple-calendar {
        border-top: 1px solid gainsboro;
        border-right: none;
        border-bottom: none;
        border-left: none;
        border-radius: 0;
      }
      .modal {
        background-color: rgba(0,0,0,0.5);
      }
      .modal-content {
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
        .close {
          margin: 10px 15px 5px auto;
          text-align: right;
        }
        .modal-body {
          order: 2;
        }
      }
      .fa-chevron-circle-down {
        z-index: 10;
        position: absolute;
        top: -50px;
        right: 20px;
        display: block;
        width: 20px;
        height: 20px;
        padding: 20px;
        border-radius: 50%;
        background-color: rgba(100,100,100,0.05);
        color: $primary-color;
        font-size: 1.5em;
        cursor: pointer;
        animation: fadeIn 1s ease 0s 1 normal;
        &.show {
          background-color: transparent;
        }
      }
      .fa-chevron-circle-down::before {
        display: block;
        transform: rotate(180deg);
        position: absolute;
        top: 8px;
        left: 8px;
      }
      .fa-chevron-circle-down.show {
        top: 10px;
      }
      .fa-chevron-circle-down.show::before {
        transform: rotate(0);
      }
    }
  }
  .psychologi_new_ModalLong {
    .modal-body {
      justify-content: center;
    }
    label {
      width: 100%;
      margin-bottom: 12px;
    }
  }

  .turtorialBtn {
    bottom: 135px;
    left: 20px;
  }
}

@media screen and (max-width: 750px) {
  .selection {
    width: 100%;
  }
  .passport {
    margin-bottom: 90px;
    &__contents {
      padding: 0;
      .contents + .contents {
        margin-left: 0;
      }
    }
  }
}

// アニメーション
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes updown {
  0% {
    transform: translateY(0px);
   }
  50% {
    transform: translateY(10px);
   }
  100% {
    transform: translateY(  0px);
   }
}
