@import "variables";

.card-header{
  position: relative;
  .trash{
    position: absolute;
    right: 20px;
    width: 17px;
    img {
      width: 100%;
    }
  }
}

.post-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-wrap {
  margin: 40px 0px;
}

.no-text-decoration:hover {
  text-decoration: none;
}
.card-body{
  span{
    text-decoration: none;
    h5{
      color: #262626;
      :hover{
        text-decoration: none;

      }
    }
    p{
      color: #262626;
    }
  }
}
.black-color {
  color: #262626;
}

.parts {
  margin: 12px 0;
}

.comment {
  margin-left: 8px;
  background-image: image-url("parts6");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 40px !important;
}

.post-time {
  margin:0;
  color:#999;
  font-size:10px;
}

.post-sub-text {
  text-decoration: none;
  color: #262626;
}

.post-wrap .col-md-8 {
  padding: 0px;
}

.card-right {
  padding: 20px;
}

.card-right-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}

.card-right-comment {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  height: 320px;
  overflow: auto;
}

.postShow-wrap {
  border: 1px solid #e6e6e6;
  margin: 40px;
}

.post-user-name {
  display: flex;
  align-items: center;
  line-height: 0;
}
.delete-post-icon {
  background-image: image-url("parts9");
  background-repeat: no-repeat;
  position: relative;
  left: 90px;
  top: -15px;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  color: #262626;
  font-size: 20px;
}

.delete-comment{
  background-image: image-url("parts8");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  float: right;
  margin: 5px 0 0 10px;
  background-size: 11px !important;
}

.pagination{
  margin: 0 auto;
  li{
    a{
      border: none;
      color: #696969;
      :hover{
        border-radius: 15px;
      }
    }
  }
  .active{
    a{
      background: #93c9ff;
      border-radius: 15px;
    }
  }
}

//SNS New画面
.newPost {
  .modal-dialog{
    .modal-content{
      .modal-title {
        i{
          font-size: 1.5em;
          margin-right: 5px;
        }
      }
      .modal-body{
        .PostNew{
          margin: 0 auto;
          text-align: center;
          &__form{
            .form-group{
              margin-bottom: 20px;
              .disc{
                height: 100px;
              }
            }
            .image{
              .form-group{
                #PostPreview{
                  animation: fadeIn 1s;
                  margin-left: -75px;
                  height: 300px;
                  width: 400px;
                }
                .hide{
                  display: none;
                }
                .form-control{
                  display: none;
                }
                .ImageInput{
                  display: block;
                  width: 255px;
                  height: 40px;
                  margin-left: auto;
                  margin-right: auto;
                  border-radius: 5px;
                  border: 1px solid;
                  border-color: $primary-color;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  &:hover{
                    background-color: $primary-color;
                    color: white;
                    transition: color .3s;
                    transition: background-color .3s;
                  }
                }
              }
            }
          }
          &__btn{
            width: 255px;
            height: 40px;
            border: none;
            border-radius: 5px;
            background-color: $primary-color;
            color: white;
            margin-bottom: 20px;
            &:hover{
              opacity: 0.7;
              transition: opacity .3s;
            }
          }
        }
      }
    }
  }
  #post_title,
  #post_description {
    border: none;
    border-radius: 0;
  }
  #post_title {
    border-bottom: 1px solid #ced4da;
  }
  input[type="text"]:focus {
    border: none;
    outline: none;
  }
  textarea:focus {
    border: none;
    outline: none;
  }
}
@media screen and (max-width: 750px) {
  .newPost {
    z-index: 1100;
    .modal-dialog{
      margin: 0;
      height: 100%;
      .modal-content{
        height: 100%;
        border: none;
        border-radius: 0;
        .modal-body{
          padding: 0;
          .PostNew{
            width: 100%;
            &__header{
              margin-left: -10px;
            }
            &__form{
              .image{
                width: 100%;
                .form-group{
                  #PostPreview{
                    margin-left: -45px;
                    width: 300px;
                    height: 200px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//SNS New画面
