// Place all the styles related to the psychologies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.psychology-wrapper{
  margin: 0;
  font-family: "Hiragino Kaku Gothin ProN", sans-serif;
}

.heading {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: center;
}

.header{
  max-height: 300px;
  background-image: image-url("img_psy_header");
  background-position: center center;
  background-size: cover;
  color: #000;
  text-align: center;
  h1 {
    padding: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 5px;
  }

}
.genre {
  height: auto;
  padding: 40px;
  text-align: center;
  p {
    margin-bottom: 0;
    line-height: 1.75;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    ul {
      display: flex;
      flex-wrap: wrap;
      max-width: 615px;
      margin-bottom: 12px;
      padding: 0 auto;
      list-style: none;
      li{
        width: 100px;
        margin-right: 10px;
        margin-bottom: 12px;
        img {
          width: 100%;
        }
      }
    }
  }
}

.premises{
  text-align: center;
  margin-top: 30px;
  h2{
    font-size:19.2px;
    margin-bottom: 20px;
  }
  p{
    font-size: 15px;
    margin-bottom: 0;
    line-height: 1.75;
  }
  .premise{
    width: 850px;
    height: auto;
    background-color: #FFFAFA;
    margin: 0 auto;
    margin-bottom: 50px;
    border-top: 4px solid #F9703E	;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.1);
    .premise-image{
      width: 50px;
      margin-right: 20px;
      position: relative;
      left: -700px;
      top: 19px;
    }
    .premise-title{
      padding: 40px 100px 20px 60px;
      float: left;
      margin: auto 0;
      border-bottom: 1px solid #F9703E;
      width: 85%;
      text-align: left;
      color: #333333;
      font-size: 1em;
      font-weight: bold;
      position: relative;
      left: 50px;
    }
    .premise-discription{
      padding: 40px 40px 40px 50px;
      text-align: left;
      font-size: 14px;
    }
  }
}

.methods {
  background-color: #f7f7f7;
  text-align: left;
  .container {
    width: 980px;
  }
  .heading{
    padding-top: 50px;
    padding-bottom: 30px;
    color: #5f5d60;
    h2{
      font-weight: normal;
    }
    h3{
      font-weight: normal;
    }
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
    .item {
      width: 450px;
      height: auto;
      background-color: #fff;
      margin-right: 5%;
      margin-bottom: 50px;
      border-top: 4px solid #F9703E;
      box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.1);
      &:nth-child(2n) {
        margin-right: 0;
      }
      .itemTitle {
        position: relative;
        display: flex;
        align-items: center;
        padding: 20px 30px 30px 40px;
        &__img {
          width: 50px;
          margin-right: 20px;
        }
        h3 {
          margin-bottom: 0;
          color: #333333;
          font-size: 1em;
          font-weight: bold;
        }
      }
      .item__disc {
        margin-bottom: 0;
        padding: 0 30px 20px;
        color: #333333;
        line-height: 1.75;
      }
    }
  }
}

.message-wrapper{
  border-bottom: 1px solid #eee;
  padding:80px 0 80px 0;
  text-align: center;
}

.footer-wrapper{
  padding: 30px 0 20px 0;
  text-align: center;
  p{
    color: #b3aeb5;
    font-size: 12px;
  }
}

.adminBtn {
  margin: 0 20px 20px 0;
  text-align: right;
  .btn + .btn {
    margin-right: 10px;
  }
}

@media screen and (max-width: 670px){
  .premises{
    width: 100%;
    p{
      font-size: 14px;
    }
    .premise{
      width: 100%;
      .premise-title{
        width: 95%;
        left: 8px;
        padding: 0 0 25px 70px;
        position: relative;
        bottom: 15px;
      }
      .premise-image{
        left: -120px;
      }
      .premise-discription{
        width: 100%;
        padding: 40px 10px 20px 10px;
      }
    }
  }
  .methods{
      width: 100%;
    &__block {
      .item {
        width: 100%;
        margin: 0 0 8% 0;
      }
    }
    .container{
      width: 100%;
    }
  }
  .genre{
    padding: 10px;
    p{
      font-size: 14px;
    }
    &__list{
      ul{
        li{
          width: 120px;
        }
      }
    }
  }
  .modal-disc{
    font-size: 14px;
  }
}
